html, body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

.SocialGraph {
    margin-bottom: 2em;
    border-bottom: 4px solid black;
}

.SocialStats {
    text-align: left;
}

.Graph text {
    pointer-events: none;
}

.Graph circle {
    cursor: pointer;
}

.RangeSlider {
    width: 50vw;
    float: right;
    margin: 1em;
    padding: 2em;
    padding-top: 0;
    border: 2px solid black;
}

